<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Flask大学テニス部</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('main') }}">Main</a>
            <a class="navbar-brand" href="{{ url_for('load_member_list') }}">メンバー一覧</a>
            <a class="navbar-brand" href="{{ url_for('terms_of_service') }}">利用規約</a>
        </nav>
        <div class="jumbotron">
            <h1>Flask大学テニス部ホームページ</h1>
        </div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>