{% extends "base.html" %}
{% block title %}Index {{ super() }}{% endblock %}
{% block content %}
{% filter lower %}
<h1>Hello From Flask, HTML</h1>
<p>Goodbye</p>
<p>さようなら</p>
{% endfilter %}

<h1>{{ "Hello From Flask, HTML" | capitalize }}</h1>
<h1>{{ "Hello From Flask, HTML" | title }}</h1>
<p>{{ user | default("userが存在しません") }}</p>
<p>{{ "Jinjaについてもっと詳しく知りたい人は
https://google.com/
まで" | urlize }}</p>
<p>{{ user | upper }}</p>

<p>犬のリンク</p>
<img src="{{ url_for('static', filename='image/cutedog.jpg') }}">

{% endblock %}