{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<form method="POST">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        {{ form.csrf_token.errors }}
    {% endif %}
    {{ render_field(form.name, size=100) }}
    {{ render_field(form.age, class_="age-class") }}
    {{ render_field(form.password) }}
    {{ render_field(form.birthday) }}
    {{ render_field(form.gender) }}
    {{ render_field(form.major) }}
    {{ render_field(form.is_japanese) }}
    {{ render_field(form.message, placeholder='一言お願い') }}
    {{ form.submit() }}
</form>
{% endblock %}