<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <ul>
            <li><a href="{{ url_for('main.home') }}">ホーム</a></li>
            {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('account.register') }}">登録</a></li>
                <li><a href="{{ url_for('account.login') }}">ログイン</a></li>
                <li><a href="{{ url_for('google.login') }}">Googleログイン</a></li>
            {% else %}
            <li><a href="{{ url_for('account.user') }}">ユーザー画面</a></li>
            <li><a href="{{ url_for('main.memos') }}">メモ一覧</a></li>
            <form action="{{ url_for('account.logout') }}" method="POST">
                <input type="submit" value="ログアウト">
            </form>
            {% endif %}
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>